body.no-scam {
    .tile-root {
        .li7_24,
        .i7q_24 {
            > .i4r_24 > .c35_3_6-a0,
            > .il8_24 > .c35_3_6-a0 {
                .c35_3_6-b1 {
                    display: block;
                    margin-left: 0 !important;
                    color: #111 !important;
                    font-size: 20px !important;
                    text-decoration: none !important;
                    -webkit-text-fill-color: #111 !important;
                    background-clip: content-box !important;
                    background: none !important;

                    &::before {
                        display: none !important;
                    }
                }

                > * {
                    display: none;
                }
            }
        }
        
        .q1b1_3_5-a {
            display: none !important;
        }

        .p6b3_0_1-a4 > span {
            color: #666 !important;
            font-size: 12px !important;
        }
    }
}